<mat-toolbar color="primary" class="app-toolbar">
  <div class="brand-mark">BNR</div>
  <span class="brand-title">Licensing Portal</span>

  <span class="spacer"></span>

  <button mat-button class="logout-button" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>

<mat-sidenav-container class="layout-container">

  <mat-sidenav mode="side" opened class="app-sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
